<div class="row">

  <aside class="col-md-4">
    <div class="container">
      <div class="row">
        <div class="col-xs-1"><%= gravatar_for @user %>
        </div>
        <div class="col-xs-3"><h3><%= @user.name %></h3>
        </div>
      </div>
    </div>
  </aside>

  <div class="col-md-8">
    <% if @user.following_relationships.any? %>
      <h3>Followings (<%= @user.following_relationships.count %>)</h3>
      <ol class="followings">
        <% @following_users.each do |user| %>
            <div class="container">
                <div class="row">
                    <div class="col-xs-1"><%= gravatar_for user %></div>
                    <div class="col-xs-3"><h3><%= user.name %></h3></div>
                    <div></div>
                <div class="col-xs-offset-8"></div>
                </div>
            </div>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>